@font-face {
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("/assets/fonts/woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("/assets/fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/woff/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("/assets/fonts/woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("/assets/fonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/woff/YekanBakhFaNum-ExtraBold.woff") format("woff"),
    url("/assets/fonts/woff2/YekanBakhFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "YekanBakhFaNum";
  font-style: normal;
  font-weight: 950;
  src: url("/assets/fonts/woff/YekanBakhFaNum-ExtraBlack.woff") format("woff"),
    url("/assets/fonts/woff2/YekanBakhFaNum-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: "Knewave";
  src: url("/assets/fonts/knewave/Knewave-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PS";
  src: url("/assets/fonts/ps/PressStart2P-Regular.ttf") format("truetype");
}
