html {
  font-size: 1.5vh;
}
body {
  font-family: YekanBakhFaNum;
}

.font-knewave {
  font-family: Knewave;
}

.font-ps {
  font-family: PS;
}

.animate-glitch {
  animation: glitch 3s infinite;
}

@keyframes glitch {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
}

.animate-directed {
  animation: directed 3s forwards;
  text-shadow: 0 0 24px #fff;
}

@keyframes directed {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
    color: yellow;
  }
  40% {
    transform: translateX(-8px) translateY(-8px);
    color: lightblue;
  }

  60% {
    transform: translateX(8px) translateY(-8px);
    color: pink;
  }
  80% {
    transform: translateX(-8px) translateY(8px);
    text-shadow: 0 0 24px #fff;
  }

  100% {
    transform: translateX(0) translateY(0);
    text-shadow: 0 0 0 #fff;
  }
}
